{% for vhost in nginx_vhosts %}
server {
    listen {{ vhost.listen | default('80 default_server') }};
    server_name {{ vhost.server_name }};

    {% if vhost.root is defined %}
    root {{ vhost.root }};
    {% endif %}

    index {{ vhost.index | default('index.html index.htm') }};

    {% if vhost.error_page is defined %}
    error_page {{ vhost.error_page }};
    {% endif %}
    {% if vhost.access_log is defined %}
    access_log {{ vhost.access_log }};
    {% endif %}
    {% if vhost.error_log is defined %}
    error_log {{ vhost.error_log }} error;
    {% endif %}

    {% if vhost.return is defined %}
    return {{ vhost.return }};
    {% endif %}

    {% if vhost.locations is defined %}

        {% for location in vhost.locations %}

       location {{ location.path }} {
        {% for content in location.contents %}
         {{ content.key }} {% if content.value is defined %} {{ content.value  }} {% endif %};
         {% endfor %}
       }

        {% endfor %}

    {% endif %}

}
{% endfor %}

{% for upstream in nginx_upstreams %}
    upstream {{ upstream.name }} {
{% if upstream.strategy is defined %}
        {{ upstream.strategy }};
{% endif %}
{% for server in upstream.servers %}
        server {{ server }};
{% endfor %}
    }
{% endfor %}
